.root,
.staff,
.body,
.head,
.frontArm,
.backArm,
.frontLeg,
.backLeg,
.opponent,
.effect {
  transform-box: view-box;
}

.root { transform-origin: 98px 224px; }
.staff { transform-origin: 88px 132px; }
.body { transform-origin: 96px 149px; }
.head { transform-origin: 96px 82px; }
.frontArm { transform-origin: 117px 96px; }
.backArm { transform-origin: 74px 96px; }
.frontLeg { transform-origin: 101px 163px; }
.backLeg { transform-origin: 87px 163px; }
.opponent { transform-origin: 315px 224px; }
.effect { transform-origin: 150px 128px; opacity: 0; }

.staff path {
  fill: none;
  stroke: #bd8b4f;
  stroke-linecap: round;
  stroke-width: 7;
}

.robe {
  fill: url("#robeGradient");
  stroke: #ff8e57;
  stroke-width: 1;
}

.collar,
.sash,
.pants {
  fill: url("#pantsGradient");
  stroke: #f2c86d;
  stroke-width: 1;
}

.sleeve { fill: #c83e29; }
.boot { fill: #522b27; stroke: #9c574a; }
.skin, .neck { fill: #efc18d; }
.ear { fill: none; stroke: #efc18d; stroke-width: 5; stroke-linecap: round; }
.arrow { fill: none; stroke: var(--element); stroke-width: 5; stroke-linecap: round; }
.eyes { fill: none; stroke: #29333e; stroke-width: 3; stroke-linecap: round; }
.smile { fill: none; stroke: #9c654f; stroke-width: 2; stroke-linecap: round; }

.air {
  fill: none;
  stroke: #b7f1ff;
  stroke-width: 4;
}

.fire path:first-child { fill: #ff5a35; }
.fire path:last-child { fill: #ffd056; }
.earth { fill: #7b915a; stroke: #c5d487; stroke-width: 2; }
.water { fill: none; stroke: #65c9ff; stroke-linecap: round; stroke-width: 8; }

.wall {
  transform-origin: 202px 224px;
  fill: #61744d;
  stroke: #c1d086;
  stroke-linejoin: round;
  stroke-width: 3;
}

.elements { transform-origin: 99px 132px; fill: none; stroke-width: 6; }
.airRing { stroke: #b9f3ff; }
.fireRing { stroke: #ff6748; }
.earthRing { stroke: #9ebd6d; }
.waterRing { stroke: #62bfff; }

.avatar {
  transform-origin: 98px 145px;
  fill: none;
  stroke: white;
  stroke-width: 3;
}

.opponent {
  fill: #1c2836;
  stroke: #718298;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8;
}

.opponent .target {
  fill: none;
  stroke: #e15b56;
  stroke-width: 2;
}
